@model ArticleViewModel

<form method="post" asp-antiforgery="true" asp-action="Create">
    <div class="border-bottom p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Create Article</h2>
            <hr />
        </div>
     
        <div class="mb-3">
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>

        </div>
        <div class="mb-3">
            <label asp-for="Content">Content</label>
            <textarea asp-for="Content" class="form-control"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="ImageUrl">Image URL</label>
            <input asp-for="ImageUrl" class="form-control"/>
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a asp-controller="Articles" asp-action="Index" class="btn btn-secondary"> Back to List</a>
    </div>
</form>

@section Scripts
{
    @{
    <partial name="_ValidationScriptsPartial" />
    }
}