html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.articleHeader 
{
    margin-left: 33%;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d231b;
    height: 100%;
    color: #FFF;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    height: 100%;
    color: #3d231b;
}